# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Transform'
      'submenu': [
        'label': 'String'
        'submenu': [
          'label': 'Capitalize'
          'command': 'transform:capitalize'
        ]
      ]
    ]
  }
]
