# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Text'
      'submenu': [
        'label': 'Capitalize'
        'command': 'transform:capitalize']
    ]
  }
]
